* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: white;
}

body {
  background: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 15px 5px 15px;
  margin-right: 10px;
}

.about_me {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 15px 5px 15px;
  margin-right: 10px;
}

.past_prof {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 15px 5px 15px;
  margin-right: 10px;
}

.contact {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 15px 5px 15px;
  margin-right: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mylast_prof {
  width: 80%;
  margin: 60px 60px;
  max-width: 90%;
  padding: 5px 50px;
  margin-left: 150px 200px auto;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at bottom left,
    transparent 50px,
    #1b1f22cc 0
  );
}

.cnc_system {
  width: 100px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-left: -105px;
  margin-top: -40px;
}

.new_calling {
  width: 80%;
  margin: 60px;
  max-width: 90%;
  padding: 5px 50px;
  margin-top: -50px;
  margin-left: 150px 200px auto;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at top left,
    transparent 50px,
    #1b1f22cc 0
  );
}

.working_out {
  width: 80%;
  max-width: 90%;
  margin: 60px 20px;
  padding: 5px 20px;
  margin-left: 15px auto;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at bottom right,
    transparent 50px,
    #1b1f22cc 0
  );
}

.dumbell_logo {
  border-radius: 50%;
  width: 100px;
  height: auto;
  float: right;
  margin-right: -75px;
  margin-top: -40px;
}

.gaming {
  width: 80%;
  max-width: 90%;
  margin: 60px;
  margin-left: 150px 200px auto;
  padding: 5px 50px;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at bottom left,
    transparent 50px,
    #1b1f22cc 0
  );
}

.game_controller {
  width: 100px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-left: -105px;
  margin-top: -40px;
}

.reading {
  width: 80%;
  margin: 60px;
  max-width: 90%;
  padding: 5px 70px;
  margin-top: -50px;
  margin-left: 150px 200px auto;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at top left,
    transparent 50px,
    #1b1f22cc 0
  );
  background: radial-gradient(
    circle at bottom right,
    transparent 50px,
    #1b1f22cc 0
  );
}

.book_logo {
  border-radius: 50%;
  width: 100px;
  height: auto;
  float: right;
  margin-right: -105px;
  margin-top: -40px;
}

.coding {
  width: 80%;
  max-width: 90%;
  margin: 60px 20px;
  padding: 5px 20px;
  margin-left: 15px auto;
  background: #1b1f22cc;
  border-radius: 20px;
  background: radial-gradient(
    circle at bottom right,
    transparent 50px,
    #1b1f22cc 0
  );
}

.programming_logo {
  border-radius: 50%;
  width: 100px;
  height: auto;
  float: right;
  margin-right: -75px;
  margin-top: -40px;
}

.icons a {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-weight: 400;
  width: 38px;
  margin-right: 10px;
}

.navigation a:hover,
.icons a:hover {
  background: rgba(255, 255, 255, 0.075);
}

@media all and (max-width: 520px) {
  .navigation {
    display: grid;
    gap: 4px;
  }
}
